streamlit~=1.49.1
psycopg2-binary
pypdf2~=3.0.1
python-docx
spacy~=3.8.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
sentence-transformers
google-generativeai
python-dotenv
nltk
streamlit_pdf_viewer
